#new-join-request
  - unless @pending_request.nil?
    - if @pending_request.is_invite?
      .alert.alert-danger= t(".already_invited")
    - else
      .alert.alert-danger= t(".already_requested")
  %h3= t('.message_title')
  = form_tag(orders_path, :method => :post, :class => "form-group") do
    = hidden_field_tag :price, 5000
    = hidden_field_tag :user_id, @current_user.id
    = image_submit_tag "btn_xpressCheckout.gif"