<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" slick-uniqueid="3">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- viewport fix for devices -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- load core head -->
      <base href=".">
      <meta name="author" content="Super User">
      <title>Home</title>
      
      <%= stylesheet_link_tag 'home_page.css' %>
      <%= stylesheet_link_tag 'animate.min.css' %>
      <%= stylesheet_link_tag 'animations.css' %>
      <%= stylesheet_link_tag 'custom.css' %>
      <%= stylesheet_link_tag 'jmthemecustomiser.css' %>
      <%= stylesheet_link_tag 'jquery.minicolors.css' %>
      <%= stylesheet_link_tag 'mod_dj_easy_contact.css' %>
      <%= stylesheet_link_tag 'modal.css' %>
      <%= stylesheet_link_tag 'style.css' %>

      <%= javascript_include_tag 'jquery.min.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery-noconflict.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery-migrate.min.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'caption.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'mootools-core.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'core.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'mootools-more.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'modal.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery.ui.core.min.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery.ui.sortable.min.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'layout.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'html5fallback.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery.minicolors.min.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery.ui.draggable.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery.ui.slider.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery.ui.accordion.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jmoptiongroups.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jmgooglefont.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'scripts.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'powertools-1.2.0.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'slider.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery.djselect.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery.djmenu.js', 'data-turbolinks-track' => true %>

      <script type="text/javascript">
         jQuery(window).on('load',  function() {
                 new JCaption('img.caption');
               });
             jQuery(function($) {
               SqueezeBox.initialize({});
               SqueezeBox.assign($('a.modal').get(), {
                 parse: 'rel'
               });
             });
             function jModalClose() {
               SqueezeBox.close();
             }
         jQuery(function($) {
                $('.hasTip').each(function() {
                 var title = $(this).attr('title');
                 if (title) {
                   var parts = title.split('::', 2);
                   var mtelement = document.id(this);
                   mtelement.store('tip:title', parts[0]);
                   mtelement.store('tip:text', parts[1]);
                 }
               });
               var JTooltips = new Tips($('.hasTip').get(), {"maxTitleChars": 50,"fixed": false});
             });
                 jQuery(document).ready(function (){
                   jQuery('.minicolors').each(function() {
                     jQuery(this).minicolors({
                       control: jQuery(this).attr('data-control') || 'hue',
                       position: jQuery(this).attr('data-position') || 'right',
                       theme: 'bootstrap'
                     });
                   });
                 });
               
                                 jQuery(document).on('JMFrameworkInit', function(){
                                     jQuery('.jmirispicker').each(function() {
                                         jQuery(this).iris({
                                             hide: true,
                                             palettes: true
                                         });
                                     });
                                     
                                     jQuery('.minicolors').each(function() {
                                         jQuery(this).minicolors({
                                             control: jQuery(this).attr('data-control') || 'hue',
                                             position: jQuery(this).attr('data-position') || 'right',
                                             theme: 'bootstrap'
                                         });
                                     });
                                     
                                     jQuery(document).on('click',function(event){
                                         jQuery('.jmirispicker').each(function() {
                                             if (event.target != this && typeof jQuery(this).iris != 'undefined') {
                                                 jQuery(this).iris('hide');
                                             }
                                         });
                                     });
                                     
                                     var JMThemerGoogleFonts = new JMGoogleFontHelper('.google-font-url').initialise();
                                     
                                 });
                         
         (function($){ window.addEvent('domready',function(){this.Slider138 = new DJImageSliderModule({id: '138', slider_type: 0, slide_size: 400, visible_slides: 3, show_buttons: 0, show_arrows: 0, preload: 800},{auto: 0, transition: Fx.Transitions.Expo.easeInOut, duration: 1000, delay: 4000})}); })(document.id);
         (function($){ window.addEvent('domready',function(){this.Slider186 = new DJImageSliderModule({id: '186', slider_type: 0, slide_size: 1903, visible_slides: 1, show_buttons: 0, show_arrows: 1, preload: 800},{auto: 1, transition: Fx.Transitions.Expo.easeInOut, duration: 1000, delay: 9000})}); })(document.id);
         jQuery(document).ready(function(){jQuery('#dj-main98').addClass('allowHide')});
         jQuery(document).ready( function(){ new DJMenu(jQuery('#dj-main98'), {wrap: '', animIn: 'fadeIn', animOut: 'fadeOut', animSpeed: 'normal', delay: 500 }); } );
         window.setInterval(function(){var r;try{r=window.XMLHttpRequest?new XMLHttpRequest():new ActiveXObject("Microsoft.XMLHTTP")}catch(e){}if(r){r.open("GET","./",true);r.send(null)}},840000);
         jQuery(document).ready(function(){
           jQuery('.hasTooltip').tooltip({"html": true,"container": "body"});
         });
           
      </script>
      
   </head>
  <body class=" off-canvas-right topbar ">
    <div id="jm-allpage">
      <div id="jm-offcanvas">
        <div id="jm-offcanvas-toolbar">
          <a class="toggle-nav close-menu"><span class="icon-remove"></span></a>
        </div>
        <div id="jm-offcanvas-content">
          <div class="jm-module  blank-ms">
            <div  class="jm-module-in">
              <div class="jm-module-content clearfix notitle">
                <div class="custom blank-ms"  >
                  <p>Assign modules on offcanvas module position to make them visible in the sidebar.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="jm-module  blank-ms">
            <div  class="jm-module-in">
              <h3 class="jm-title "><span>Main</span> Menu</h3>
              <div class="jm-module-content clearfix ">
                <ul class="nav menu">
                  <li class="item-435 parent"><a href="/" >Home</a></li>
                  <li class="item-502 parent"><a href="#features" >Features</a></li>
                  <li class="item-479 active parent"><a href="/stats/stats/index.php/pages" >Pages</a></li>
                  <li class="item-499 parent"><a href="/stats/stats/" >Languages</a></li>
                  <li class="item-514 parent"><a href="/stats/stats/index.php/homepage/home1" >Style</a></li>
                  <li class="item-516"><a href="/stats/stats/index.php/contact" >Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="jm-module  blank-ms">
            <div  class="jm-module-in">
              <h3 class="jm-title "><span>Tags</span></h3>
              <div class="jm-module-content clearfix ">
                <div class="tagspopular blank-ms tagscloud blank-ms">
                  <span class="tag">
                  <a class="tag-name" style="font-size: 1em" href="/stats/stats/index.php/component/tags/tag/10-amet">
                  amet              </a>
                  </span>
                  <span class="tag">
                  <a class="tag-name" style="font-size: 1em" href="/stats/stats/index.php/component/tags/tag/9-sit">
                  sit             </a>
                  </span>
                  <span class="tag">
                  <a class="tag-name" style="font-size: 1em" href="/stats/stats/index.php/component/tags/tag/8-dolor">
                  dolor             </a>
                  </span>
                  <span class="tag">
                  <a class="tag-name" style="font-size: 1em" href="/stats/stats/index.php/component/tags/tag/7-ipsum">
                  ipsum             </a>
                  </span>
                  <span class="tag">
                  <a class="tag-name" style="font-size: 1em" href="/stats/stats/index.php/component/tags/tag/11-nec">
                  nec             </a>
                  </span>
                  <span class="tag">
                  <a class="tag-name" style="font-size: 1em" href="/stats/stats/index.php/component/tags/tag/12-quis">
                  quis              </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="jm-mainpage">
        <section id="jm-top-bar" class="">
          <div class="container-fluid">
            <div class="row-fluid">
              <div id="jm-top-bar2" class="pull-right span12">
                <div class="jm-module-raw  nomargin-ms">
                  <div class="custom nomargin-ms"  >
                    <p><a class="toggle-nav menu"><span class="icon-align-justify"></span></a></p>
                  </div>
                </div>
                <% if user_signed_in? %>
                          <div class="jm-module-raw ">
                            <ul id="navbar-right-links">
                              <li style="float:right">
                                <%= link_to main_app.logout_path do %>
                                  <%= t('logout', :user => current_user.name) %>
                                <% end %>
                              </li>
                              <li style="float:right;padding-top:1px;">
                                <%= current_user.name.try(:capitalize) %>
                              </li>
                            </ul>  
                          </div>
                        <% else %>  
                          <div class="jm-module-raw ">
                            <%= form_for(resource, :as => resource_name, :url => user_session_path, html: {id: "login-form", class: "form-inline"}) do |f| %>
                              <div class="userdata">
                                 <div id="form-login-username" class="control-group">
                                    <div class="controls">
                                       <div class="input-prepend">
                                          <span class="add-on">
                                          <span class="icon-user hasTooltip" title="" data-original-title="Username"></span>
                                          <label for="modlgn-username" class="element-invisible">Username</label>
                                          </span>
                                          <%= f.text_field :login, { id: "modlgn-username", type: "text", class: "input-small" ,tabindex: "0", size: "18", placeholder: "Username"} %>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="form-login-password" class="control-group">
                                    <div class="controls">
                                       <div class="input-prepend">
                                          <span class="add-on">
                                          <span class="icon-lock hasTooltip" title="" data-original-title="Password">
                                          </span>
                                          <label for="modlgn-passwd" class="element-invisible">Password             </label>
                                          </span>
                                          <%= f.text_field :password, {id: "modlgn-passwd", type: "text", class: "input-small" ,tabindex: "0", size: "18", placeholder: "Password"} %>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="form-login-remember" class="control-group checkbox">
                                    <label for="modlgn-remember" class="control-label">Remember Me</label> <input id="modlgn-remember" type="checkbox" name="remember" class="inputbox" value="yes">
                                 </div>
                                 <div id="form-login-submit" class="control-group">
                                    <div class="controls">
                                       <button type="submit" tabindex="0" name="Submit" class="btn btn-primary">Log in</button>
                                    </div>
                                 </div>
                              <% end %>
                              </div>
                         <% end %>   
                      </div>
                     </div>
                  </div>
               </div>
            </section>
        <section id="jm-header-wrapper">
               <div id="jm-logo-nav" class="container-fluid">
                  <div id="jm-logo-sitedesc" class="pull-left">
                     <h1 id="jm-logo">
                        <a href="/" onfocus="blur()">
                        <%= image_tag "logo.png" %>
                        </a>
                     </h1>
                  </div>
                  <nav id="jm-top-menu-nav" class="pull-right">
                     <div class="jm-module-raw ">
                        <ul id="dj-main98" class="dj-main allowHide normal">
                           <li class="dj-up itemid435 first active">
                              <a href="/home" class="dj-up_a active"><span class="dj-drop">Home</span></a>
                              
                           </li>
                           <li class="dj-up itemid502">
                              <a href="#features" class="dj-up_a"><span class="dj-drop">Features</span></a>
                              
                           </li>
                           <li class="dj-up itemid479">
                              <a href="/spaces" class="dj-up_a"><span class="dj-drop">Events</span></a>
                              
                           </li>
                           <li class="dj-up itemid499">
                              <a href="/pricing" class="dj-up_a"><span class="dj-drop">Pricing</span></a>
                              
                           </li>
                           <li class="dj-up itemid516 last"><a href="/contact_us" class="dj-up_a"><span>Contact Us</span></a></li>
                        </ul>
                     </div>
                  </nav>
               </div>
               
            </section>
        <section id="jm-main">
          <div class="container-fluid">
            <div class="row-fluid">
              
            </div>
            <div class="row-fluid">
              <div id="jm-content" class="span12" data-xtablet="span12" data-tablet="span12" data-mobile="span12">
                <div id="jm-maincontent">
                  <div class="item-page" itemscope itemtype="http://schema.org/Article">
                    <meta itemprop="inLanguage" content="en-GB" />
                    <div class="page-header">
                      <h2 itemprop="name">
                        <a href="/stats/stats/index.php/pages/joomla-other-pages/pricing" itemprop="url">Our Prices </a>
                      </h2>
                    </div>
                    <div class="icons">
                    </div>
                    <div itemprop="articleBody">
                      <div class="jm-pricing clearfix col3">
                        <div class="box">
                        <% sub1 = Product.find_by(id: 1) %>

                          <div class="box-in">
                            <div class="price"><span class="up">as low as</span> <span class="middle">$<%= sub1.price.to_i %></span> <span class="down">MONTHLY</span></div>
                            <div class="title"><%= sub1.name %></div>
                            <!-- <div class="bottom" style = "background-color: #f8f8f8"><span style="font-size:25px;font-weight:bold">$ <%= sub1.price %></span>  MONTHLY</div> -->
                            <div class="content" style="text-align:center">
                              <!-- <div class="subtitle">step up to earthlink cable internet at the speed of life</div> -->
                              <ul>
                                <li style="padding:10px;">Recording Sessions = <%= sub1.total_sessions%></li>
                                <li style="padding:10px;">Storage Capacity = <%= sub1.storage%> GB</li>
                                <li style="padding:10px;">Total Usage in Hours = <%= sub1.total_usage%></li>
                                <li style="padding:10px;">Number of Users per session = <%= sub1.total_persons%></li>
                              </ul>
                            </div>
                            <div class="bottom">
                              <%= form_tag(subscriptions_path, :method => :post, :class => "form-group") do %>
                                <%= hidden_field_tag :price, 175 %>
                                <% if @current_user.present?%>
                                  <%= hidden_field_tag :user_id, @current_user.id %>
                                <% end %>
                                <%= hidden_field_tag :product_id, 1 %>
                                <%= image_submit_tag "btn_xpressCheckout.gif" %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                        <div class="box">
                        <% sub2 = Product.find_by(id: 2) %>
                          <div class="box-in">
                            <div class="price"><span class="up">as low as</span> <span class="middle">$<%= sub2.price.to_i %></span> <span class="down">HALF-YEARLY</span></div>
                            <div class="title"">INTERMEDIATE</div>
                            <!-- <div class="bottom" style = "background-color: #f8f8f8"><span style="font-size:25px;font-weight:bold">$ <%= sub2.price %></span> HALF-YEARLY</div> -->
                            <div class="content" style="text-align:center">
                              <!-- <div class="subtitle">step up to incredible dsl cable internet</div> -->
                              <ul>
                                <li style="padding:10px;">Recording Sessions = <%= sub2.total_sessions%></li>
                                <li style="padding:10px;">Storage Capacity = <%= sub2.storage%> GB</li>
                                <li style="padding:10px;">Total Usage in Hours = <%= sub2.total_usage%></li>
                                <li style="padding:10px;">Number of Users per session = <%= sub2.total_persons%></li>
                              </ul>
                            </div>
                            <div class="bottom">
                              <%= form_tag(subscriptions_path, :method => :post, :class => "form-group") do %>
                                <%= hidden_field_tag :price, 875 %>
                                <% if @current_user.present?%>
                                  <%= hidden_field_tag :user_id, @current_user.id %>
                                <% end %>
                                <%= hidden_field_tag :product_id, 2 %>
                                <%= image_submit_tag "btn_xpressCheckout.gif" %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                        <div class="box">
                        <% sub3 = Product.find_by(id: 3) %>
                          <div class="box-in">
                            <div class="price"><span class="up">as low as</span> <span class="middle">$<%= sub3.price.to_i %></span> <span class="down">YEARLY</span></div>
                            <div class="title">ADVANCED</div>
                            <!-- <div class="bottom" style = "background-color: #f8f8f8"><span style="font-size:25px;font-weight:bold">$ <%= sub3.price %></span> YEARLY</div> -->
                            <div class="content" style="text-align:center">
                              <!-- <div class="subtitle">No dsl or cable in your area? get satellite internet</div> -->
                              <ul>
                                <li style="padding:10px;">Recording Sessions = <%= sub3.total_sessions%></li>
                                <li style="padding:10px;">Storage Capacity = <%= sub3.storage%> GB</li>
                                <li style="padding:10px;">Total Usage in Hours = <%= sub3.total_usage%></li>
                                <li style="padding:10px;">Number of Users per session = <%= sub3.total_persons%></li>
                              </ul>
                            </div>
                            <div class="bottom">
                              <%= form_tag(subscriptions_path, :method => :post, :class => "form-group") do %>
                                <%= hidden_field_tag :price, 1750 %>
                                <% if @current_user.present?%>
                                  <%= hidden_field_tag :user_id, @current_user.id %>
                                <% end %>
                                <%= hidden_field_tag :product_id, 3 %>
                                <%= image_submit_tag "btn_xpressCheckout.gif" %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="jm-main">
           <div class="container-fluid">
              <div class="row-fluid">
                 <div id="jm-content" class="span8">
                    <div id="jm-maincontent">
                       <div class="item-page">
                          <div itemprop="articleBody" id="features">
                             <div class="jm-custom-content clearfix">
                                <div style="padding-bottom:30px;width:100%;overflow:auto;" >
                                  <div class="jm-description" style="width:100%">
                                    <h4>How Does it Work</h4>
                                    <p class="jm-block"><span class="jm">01</span>Moderator (Teacher) is the organizer of the event , he can conduct either a Free event or a Paid Event</p>
                                    <p class="jm-block"><span class="jm">02</span>Moderator (Teacher) are free to fix the cost for the paid event based on the duration (Usage in hours ) of the event</p>
                                    <p class="jm-block"><span class="jm">03</span>Moderator (Teacher) can send invites to the participants (Students) to join the event which trigger email to the invitees</p>
                                    <p class="jm-block"><span class="jm">04</span>Participants (Students) will be provided url to join the event</p>
                                    <p class="jm-block"><span class="jm">05</span>Participants (Students) can either join the event by paying online for the event or free based on the event. </p>
                                    <p class="jm-block"><span class="jm">06</span>Moderator (Teacher) get to host their event on topics of their choice and invite students to join the event</p>
                                  </div>
                                </div>
                                <div style="padding-bottom:30px;width:100%;overflow:auto;" >
                                  <div class="jm-description" style="width:100%">
                                    <h4>How Does it Work</h4>
                                    <p class="jm-block"><span class="jm">01</span>We have categorized our pricing packages under Basic, Intermediate and Advanced based on the following parameters according to your usage</p>
                                    <p class="jm-block"><span class="jm">02</span>Recording Sessions : Total No. of events the moderator can record based on the package selected</p>
                                    <p class="jm-block"><span class="jm">03</span>Storage : Total Storage capacity available to store your documents, recorded videos etc</p>
                                    <p class="jm-block"><span class="jm">04</span>Total Usage : Total No. of hours available for the given period (Monthly/ Half Yearly/ Yearly) based on the package selected that can be utilized in scheduling events</p>
                                    <p class="jm-block"><span class="jm">05</span>Number of users : Total number of users who can participate at one point of time at a given event</p>
                                  </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <footer id="jm-footer">
          <div class="container-fluid">
            <div class="row-fluid">
              <div id="jm-copyrights" class="span6 ">
                <div class="custom"  >
                  <p>AKRA Confrencing @ Copyright 2016</p>
                </div>
              </div>
              <div id="jm-poweredby" class="span6 text-right pull-right">
                <p>Virtual Conference Learning Environment</p> 
              </div>
              <div id="jm-back-top">
                <a href="#top"><span>&nbsp;</span></a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>